<h1>Magasins</h1>
{{#each magasins as |magasin|}}
<div>
    <span>{{magasin.name}}</span>
    <img src="{{magasin.photo}}" alt="{{magasin.description}}" />
<p>
    {{magasin.description}}<br />
    {{magasin.location.address}}
</p>
</div>
{{/each}}